<!DOCTYPE html>
<html>
  <head>
    <title>MiniFlikr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%#= @current_user.to_json %>

    <!-- <% if @current_user %>
      <h1>
        You are logged in as: <%= @current_user.email %>
      </h1>
    <% end %> -->

    <%= flash[:error] %>

    <nav>
      <div class="nav-wrapper #673ab7 deep-purple" >
        <a href="#" class="right brand-logo">miniFlikr</a>
        <% if @current_user %>
      <div id="nav-mobile" class="left hide-on-med-and-down">
          <%= link_to   "Log Out", "/logout", method: :delete %>
          <%= link_to @current_user.email, user_path(@current_user) %>
          <%= link_to "Edit Profile", edit_user_path(@current_user) %>
          <%= link_to "Upload Image", "/posts/new"%>

        <% else %>
          <%= link_to "Login", "/login" %>
          <%= link_to "Sign Up", "/users/new" %>
        <% end %>
      </div>
    </div>
    </nav>

    <%= yield %>
  </body>
</html>
